{% extends 'blog/base.html' %}

{% block content %}
                    
    <div class="content">
        <div class = "post" >
            {% if posts %}
                {% for post in posts %}
                    <h2>{{post.title}}</h2>
                    <div class="date">
                    Published: {{ post.created }}
                    </div>
                    
                    <div id="{{post.id}}" class="truncate-ellipsis" >
                        <p>
                            <span>
                                {{ post.body|linebreaksbr }}
                            </span>
                        </p>
                    </div>
                    <a href="{% url 'post_detail' pk=post.pk %}" >view more</a>
                {% endfor %}
            {% else %}
                <div><h2>No posts available, please publish one</h2></div>
            {% endif %}
        </div>
    </div>
{% endblock %}